<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwExceptions="true"   >

	<!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
	<targets>
		<!-- add your targets here -->

		<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}" />
 
		<target type="Database" name="databaseLog" connectionstring="server=.\SQLExpress;database=Movie;integrated security=true">
			<commandText>
				INSERT INTO [Log] ([Description] ,[Summary] ,[Level] ) VALUES (@Description, @Summary, @Level )
			</commandText>
			<parameter name="@Description" layout="${message}"/>
			<parameter name="@Summary" layout="${message}"/>
			<parameter name="@Level" layout="${level}"/>
		</target>
		
		

	</targets>

	<rules>
		<logger name="*" minLevel="Trace" appendTo="databaseLog"/>
		<logger name="*" minlevel="Trace" writeTo="f" />
	</rules>
</nlog>