@model MvcMovie.App.Models.CustomerDto

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


    <h2>CustomerDto</h2>
	
	
	
	
<div id="grid"></div>


	
	 
	
<script type="text/javascript">

    var dateRegExp = /^\/Date\((.*?)\)\/$/;

    function toDate(value) {
        var date = dateRegExp.exec(value);
        return new Date(parseInt(date[1]));
    }

    $(document).ready(function () {
        var url = '@Url.Action("Grid")';

        var dataSource = new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 20,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: url
                },
                // annyoing work-around for adding date types to the request
                parameterMap: function (options) {
                    if (options.filter) {
                        options.filter.filters[0].value = kendo.toString(options.filter.filters[0].value, "MM/dd/yyyy");
                    }
                    return options;
                }
            },
            schema: {
                data: 'data',
                total: 'total',
                model: {
                    id: 'ID',
                    fields: {
					
				
 
                        Id: { type: 'int32' }, 
 
                        FirstName: { type: 'string' }, 
 
                        LastName: { type: 'string' }, 
 
                        Email: { type: 'string' }, 
 
                        Address: { type: 'string' }, 
 
                        City: { type: 'string' }, 
 
                        State: { type: 'string' }, 
 
                        Zip: { type: 'string' }, 
 
                        IpAddress: { type: 'string' }, 
 
                        Session: { type: 'string' }, 
 
                        UpdatedAt: { type: 'date' }  
 
                    }
                }
            }
        });

        $('#grid').kendoGrid({
            dataSource: dataSource,
            columns: [
				
 
                { field: 'Id', title: 'Id'   , template: '<a class=\'id nowrap\' href=\'/details/#= kendo.toString(Id)#\'> details </a>', sortable: false, filterable: false },
 
                { field: 'FirstName', title: 'FirstName'            },
 
                { field: 'LastName', title: 'LastName'            },
 
                { field: 'Email', title: 'Email'            },
 
                { field: 'Address', title: 'Address'            },
 
                { field: 'City', title: 'City'            },
 
                { field: 'State', title: 'State'            },
 
                { field: 'Zip', title: 'Zip'            },
 
                { field: 'IpAddress', title: 'IpAddress'            },
 
                { field: 'Session', title: 'Session'            },
 
                { field: 'UpdatedAt', title: 'UpdatedAt'   , template: '<div class=\'date nowrap\'> #= kendo.toString(toDate(UpdatedAt), \'MM/dd/yyyy HH:mm\')# </div>' } 
 
            ],
            filterable: true,
            scrollable: false,
            sortable: {
                mode: 'multiple'
            },
            pageable: true
        });
    });
    

</script>


	
	
	
	
	

