@{
    ViewBag.Title = "PersonalInfo";
}

<h2>PersonalInfo</h2>




@Assets.Script("jquery.validate.min.js")  
@Assets.Script("jquery.validate.unobtrusive.min.js")   

<div class="vidform"> 
</div>
 

